@(currentUsername: String)(implicit request: RequestHeader, flash: Flash)
@main("Video Streaming") {
    <input type="hidden" id="stream" value="">
    <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
    <input type="hidden" id="searchImage" value="@routes.Assets.versioned("images/icons8-search-24.png")">

    <input type="hidden" id="logoutRoute" value="@routes.StreamController.logout()">
    <input type="hidden" id="sendMessageRoute" value="@routes.StreamController.sendNewMessagePost()">
    <input type="hidden" id="getMessagesRoute" value="@routes.StreamController.getMessages()">
    <input type="hidden" id="streamRoute" value="@routes.StreamController.stream()">

    <input type="hidden" id="currentUser" value="@currentUsername">
    <!--<input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">-->
    <div id="react-root"></div>
}