.loginsignup-page {
    display: block;
    text-align: center;
}

.stream-title {
    margin-bottom: 50px;
    text-align: center;
    font-family: Roboto-Regular;
    font-size: 34px;
    color: rgba(0,0,0,0.87);
    letter-spacing: 0;
    line-height: 36px;
}

.loginsignup-container {
    text-align: center;
    margin-left: 10%;
    width: 80%;
    height: 550px;
    background: #910000;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);
}

.loginsignup-title {
    margin-top: 40px;
    text-align: center;
    font-family: Roboto-Light;
    font-size: 60px;
    color: rgba(255,255,255,0.87);
    letter-spacing: -0.5px;
    line-height: 72px;
}

.loginsignup-field {
    margin-top: 60px;
    width: 90%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ffffff;
    background-color: #910000;
    font-family: Roboto-Regular;
    font-size: 28px;
    color: rgba(255,255,255,0.87);
    letter-spacing: 0.93px;
    line-height: 16px;
    outline: none;
}

.loginsignup-field::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255,255,255,0.87);
    opacity: 0.87; /* Firefox */
}
  
.loginsignup-field:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255,255,255,0.87);
}
  
.loginsignup-field::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255,255,255,0.87);
}

.rounded-button {
    position: absolute;
    top: 70%;
    left: 82%;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background: #FFDA1F;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
    cursor: pointer;
    outline: none;
}

.rounded-button:hover {
	background-color: #FFBC01;
}

.rounded-button:active {
	top: 70.2%;
}

.dark-detail-container {
    text-align: center;
    display: block;
    margin-top: 10px;
    display: flex;
    width: 28%;
    height: 10%;
    margin-left: 10%;
    background: #212121;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);
}

.dark-detail-container-label {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 266px;
    text-align: center;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: rgba(255,255,255,0.87);
    letter-spacing: 0.32px;
    line-height: 20px;
    display: block;
}

.dark-detail-container-button {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: #212121;
    cursor: pointer;
    font-family: Roboto-Medium;
    font-size: 20px;
    color: #DE6A6A;
    letter-spacing: 1.79px;
    line-height: 16px;
    display: block;
    outline: none;
}

.dark-detail-container-button:hover {
	color: #DE5656;
}
.dark-detail-container-button:active {
    background-color: #21212100;
	position: relative;
	top: 1px;
}

.settings-button {
    margin-left: 10%;
    cursor: pointer;
    font-family: Roboto-Medium;
    font-size: 20px;
    color: #000000;
    letter-spacing: 1.79px;
    line-height: 16px;
}

.streamid-label {
    margin-left: 50%;
    font-family: Roboto-Regular;
    font-size: 25px;
    color: rgba(0,0,0,0.87);
    letter-spacing: 0.23px;
}

.stream-view {
    text-align: center;
    margin-left: 10%;
    width: 80%;
    height: 650px;
    background: #910000;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);
}

.stream-messages-container-top {
    display: flex;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

.stream-search-container {
    width: 75%;
    display: flex;
}

.streamid-input {
    width: 50%;
    font-family: Roboto-Regular;
    font-size: 25px;
    color: rgba(0,0,0,0.87);
    letter-spacing: 0.23px;
    line-height: 24px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0,0,0,0.87);
    background-color: #ffffff;
    outline: none;
}

.streamid-search-button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background: #FFDA1F;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
    cursor: pointer;
    outline: none;
}

.streamid-search-button:hover {
	background-color: #FFBC01;
}

.streamid-search-button:active {
	top: 98.2%;
}

.streamid-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0,0,0,0.87);
    opacity: 0.87; /* Firefox */
}
  
.streamid-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0,0,0,0.87);
}
.streamid-input::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0,0,0,0.87);
}

.start-stream-container {
    display: flex;
    width: 25%;
    height: 10%;
    background: #212121;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);
}

.start-stream-container-label {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 266px;
    text-align: center;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: rgba(255,255,255,0.87);
    letter-spacing: 0.32px;
    line-height: 20px;
    display: block;
}

.start-stream-container-button {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: #212121;
    cursor: pointer;
    font-family: Roboto-Medium;
    font-size: 20px;
    color: #DE6A6A;
    letter-spacing: 1.79px;
    line-height: 16px;
    display: block;
    outline: none;
}

.start-stream-container-button:hover {
	color: #DE5656;
}

.start-stream-container-button:active {
    background-color: #21212100;
	position: relative;
	top: 1px;
}

.stream-messages-container-bottom {
    margin-top: 1%;
    margin-left: 10%;
    display: flex;
    width: 80%;
}

.stream-messages-table-container {
    display: flex;
    width: 72%;
    background: #FFFFFF;
    text-align: center;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);
}

.stream-messages-table-label {
    text-align: center;
    width: 100%;
    font-family: Roboto-Regular;
    font-size: 25px;
    color: #000000;
    letter-spacing: 0.45px;
}

.stream-messages-table {
    height: 350px;
}

.stream-create-messages-container {
    width: 25%;
    margin-left: 3%;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);
}

.create-message-title {
    margin-top: 3%;
    font-family: Roboto-Regular;
    font-size: 20px;
    color: rgba(0,0,0,0.87);
    letter-spacing: 0.36px;
}

.create-message-textarea {
    margin-top: 2%;
    margin-bottom: 5%;
    width: 80%;
    height: 70%;
    background: #EEEEEE;
    border: none;
    box-lines: 10;
    font-size: 16px;
    color: rgba(0,0,0,0.87);
    letter-spacing: 0.36px;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none
}


.create-message-button {
    font-family: Roboto-Medium;
    font-size: 20px;
    color: #910000;
    background-color: #00000000;
    letter-spacing: 1.79px;
    line-height: 16px;
    border: none;
    margin-left: 60%;
    cursor: pointer;
    outline: none;
}

.create-message-button:hover {
	color: #DE5656;
}

.create-message-button:active {
    background-color: #21212100;
	position: relative;
    top: 1px;
    border: none;
}
